#tit {
	font-size: 25px;
	margin: 70px 0px;
}
.caja {
	height: 250px;
	margin:15px auto;
	width: 80%;
	background: #D8DBEB;
}
.img {
	 height: 250px;
	 width: 280px;
}
.pb {
	top: 100px;
	right: 100px;
	box-sizing: border-box;
	height: 180px;
	width: 550px;
	position: relative;
}